* {
  box-sizing: border-box;
}
body {
  padding: 40px;
}

/* Bootstrap Buttons */
.buttons {
  text-align: center;
  margin-top: 40px;
}

.buttons button {
  margin-right: 10px;
  width: 100px;
}
.buttons button:focus {
  border: none;
  outline: none;
}
.buttons button:last-child {
  margin-right: 0;
}


/* Result */
.output {
  height: 375px;
}
.clear-fix {
  clear: both;
}
.user-member{
  padding: 15px;
  background-color: rgb(247, 245, 243);
  color: black;
}